extends layout.pug
block content
  .container
    .row#displayer
      h2.text-center#name
      p.text-center#content
    .row
      .col-sm-12
        button.btn.btn-success.btn-lg.block-center#getRecipe 点我
  script(src="/js/what2eat.js")
